@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700,300);
* {
  box-sizing: border-box;
  cursor: url(../img/Wedge.png), auto;
}

body {
  background: url(../img/halloween_bg.jpg) no-repeat;
  background-size: cover;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.row {
  margin: 0 -15px;
}
.row:after, .row:before {
  content: '';
  display: table;
  clear: both;
}

.col-1 {
  width: 33.333%;
  padding: 0 15px;
  float: left;
}

.col-2 {
  width: 66.666%;
  padding: 0 15px;
  float: left;
}

.col-3 {
  width: 100%;
  padding: 0 15px;
  float: left;
}
.details{
    font-size: 12px;
    display: inline;
    border: 1px solid #ff7473;
    padding: 2px 6px;
    border-radius: 5px;
    background: #ff7473;
    margin-left: 1px;
    margin-bottom: 10px;
  }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 50px;
}
.wrapper_container {
  width: 1000px;
  max-height: 1000px;
  border-radius: 10px;
}

.site-wrapper {
  min-height: 500px;
  background: #383636;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.23);
  padding-left: 80px;
  padding-right: 30px;
  padding-top: 85px;
  padding-bottom: 30px;
  position: relative;
  -webkit-transition: padding .3s linear;
  transition: padding .3s linear;
}
.site-wrapper_left-col {
  position: absolute;
  background: #34495E;
  width: 45px;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
  overflow: hidden;
  z-index: 20;
  border-radius: 10px 0 0 10px;
}
.site-wrapper_left-col .logo {
  display: block;
  background: #b95a06;
  padding: 15px;
  font-family: 'Pacifico', cursive;
  font-size: 24px;
  text-decoration: none;
  color: transparent;
  text-align: center;
  -webkit-transition: background .2s linear;
  transition: background .2s linear;
}
.site-wrapper_left-col .logo:before {
  content: 'S';
  color: rgba(255, 255, 255, 0.6);
  opacity: 1;
}
.site-wrapper_left-col .logo:hover, .site-wrapper_left-col .logo:focus {
  background: #150801;
  text-decoration: none;
}
.site-wrapper_left-col .left-nav a {
  display: block;
  line-height: 45px;
  border-left: 0 solid #34495E;
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  letter-spacing: 2px;
  border-bottom: 1px solid #2C3E50;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  white-space: nowrap;
}
.site-wrapper_left-col .left-nav a i {
  width: 35px;
}
.site-wrapper_left-col .left-nav a:hover, .site-wrapper_left-col .left-nav a:focus, .site-wrapper_left-col .left-nav a.active {
  background: #2C3E50;
  border-left-color: #c52a0e;
  border-left-width: 5px;
}
.site-wrapper_top-bar {
  height: 54px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #000;
  z-index: 10;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  text-align: right;
}
.site-wrapper_top-bar a {
  display: inline-block;
  vertical-align: middle;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  color: #3498DB;
}
.site-wrapper_top-bar a:hover, .site-wrapper_top-bar a.active {
  background: #3498DB;
  color: rgba(255, 255, 255, 0.6);
}
.site-wrapper.active {
  padding-left: 230px;
}
.site-wrapper.active .site-wrapper_left-col {
  width: 200px;
}
.site-wrapper.active .site-wrapper_left-col .logo {
  color: rgba(255, 255, 255, 0.6);
}
.site-wrapper.active .site-wrapper_left-col .logo:before {
  opacity: 0;
  position: absolute;
}

.user-item {
  background: #fff;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 30px;
}
.user-item_photo {
  overflow: hidden;
  position: relative;
}
.user-item_photo:after {
  content: '';
  width: 150px;
  height: 150px;
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  z-index: 20;
  top: -80px;
  right: -80px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.user-item_photo img {
  max-width: 100%;
}
.user-item_info {
  padding: 15px;
  text-align: center;
}
.user-item_info .name {
  color: #E95656;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: bold;
  margin-bottom: 5px;
}
.user-item_info .glowing{
  -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
}
@-webkit-keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #62cdf1, 0 0 70px #4bc9e0, 0 0 80px #7ad5e0, 0 0 100px #16a4b3, 0 0 150px #1eabc1;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ffffff, 0 0 35px #ffffff, 0 0 40px #fff, 0 0 50px #fff, 0 0 75px #ffffff;
  }
}
.user-item_info .nobody {
  color: #E77471;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: bold;
  margin-bottom: 5px;
}
.user-item_info .sub {
  color: #AFAFAF;
}
.user-item_info .controls {
  padding-top: 15px;
}
.user-item_info .controls a {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  background: #3498DB;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  line-height: 40px;
  font-size: 16px;
  text-align: center;
  margin: 0 5px;
  -webkit-transition: background .3s linear, -webkit-transform .3s ease-in-out;
  transition: background .3s linear, -webkit-transform .3s ease-in-out;
  transition: background .3s linear, transform .3s ease-in-out;
  transition: background .3s linear, transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}
.user-item_info .controls a:hover {
  background: #196090;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.user-item_info .controls .tooltipA {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.user-item_info .controls .tooltipA .tooltiptext {
    visibility: hidden;
    width: 3em;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;

    /* Position the tooltip */
    position: absolute;
    margin-left: 20px;
    z-index: 1;
}

.user-item_info .controls .tooltipA:hover .tooltiptext {
    visibility: visible;
}

.user-item_info .controls .tooltipB {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.user-item_info .controls .tooltipB .tooltiptext {
    visibility: hidden;
    width: 3em;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;

    /* Position the tooltip */
    position: absolute;
    margin-left: 20px;
    z-index: 1;
}

.user-item_info .controls .tooltipB:hover .tooltiptext {
    visibility: visible;
}
.chat {
  min-height: 354px;
  background: #fff;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  padding-top: 60px;
  padding-bottom: 75px;
}
.chat .head {
  line-height: 45px;
  background: #da7912;
  padding: 0 15px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.6);
  /* font-weight: bold; */
  border-radius: 10px 10px 0 0;
}
.chat .head i {
  margin-right: 10px;
}
.chat .footer {
  height: 60px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #34495E;
  text-align: center;
  padding: 10px 15px;
  border-radius: 0 0 10px 10px;
}
.chat .footer input[type="text"] {
  display: inline-block;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 5px;
  vertical-align: middle;
  border: 0;
  height: 40px;
  padding: 0 15px;
  margin: 0 5px;
  width: 100%;
  max-width: 250px;
  outline: none;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
  color: gray;
}
.chat .footer input[type="text"]::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.chat .footer input[type="text"]::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.chat .footer input[type="text"]:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.chat .footer input[type="text"]:-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.chat .footer input[type="text"]:focus {
  background: #fff;
}
.chat .footer button {
  background: #3498DB;
  border: 0;
  vertical-align: middle;
  color: rgba(255, 255, 255, 0.6);
  padding: 0 20px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: background .2s linear;
  transition: background .2s linear;
  outline: none;
}
.chat .footer button:hover {
  background: #196090;
}
.chat_inner_scroll {
  overflow-y: scroll;
  height: 260px;
  margin: 10px;
}
.chat_inner_scroll::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #F5F5F5;
}

.chat_inner_scroll::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

.chat_inner_scroll::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #f3d38e;
}
.chat_inner-item {
  padding: 10px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.chat_inner-item .photo {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  overflow: hidden;
  margin-right: 10px;
}
.chat_inner-item .photo img {
  width: 40px;
  height: 40px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.chat_inner-item .message {
  padding: 12px 20px;
  background-color: #ECECEC;
  border-radius: 5px;
  color: #808080;
  letter-spacing: 1px;
}
.chat_inner-item .message ~ .photo {
  margin-right: 0;
  margin-left: 10px;
}
.chat_inner-item.right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.modalbg {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 99999;
  -moz-transition: all 2s ease-out;
  -webkit-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -transition-delay: 0.2s;
  display: block;
  pointer-events: none;
}
.modalbg .dialog {
  width: 400px;
  position: relative;
  top: -1000px;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 53px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #ccc);
  background: -webkit-linear-gradient(#6d1906, #0c0704);
  background: -o-linear-gradient(#fff, #ccc);
  box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  -webkit-box-shadow: 0 0 10px #000;
}
.modalbg .dialog .ie7 {
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#000', Direction=135, Strength=3);
}
.modalbg:target {
  display: block;
  pointer-events: auto;
  background: rgba(4, 10, 30, 0.8);
  -moz-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.modalbg:target .dialog {
  top: -20px;
  -webkit-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  -transition-delay: 0.4s;
}
.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  -webkit-box-shadow: 0 0 10px #000;
  -moz-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -transition-delay: 0.2s;
}
.close .ie7 {
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#000', Direction=135, Strength=3);
}
.close:hover {
  background: #00d9ff;
  -moz-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.fineprint {
  font-style: italic;
  font-size: 10px;
  color: #646;
}
.register {
  margin: 0 auto;
  width: 230px;
  padding: 20px;
  background: #000000;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
}

input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.register-input {
  display: block;
  width: 100%;
  height: 38px;
  margin-top: 2px;
  font-weight: 500;
  background: none;
  border: 0;
  border-bottom: 1px solid #d8d8d8;
}
.register-input:focus {
  border-color: #1e9ce6;
  outline: 0;
}

.register-button {
  display: block;
  width: 100%;
  height: 42px;
  margin-top: 25px;
  font-size: 16px;
  font-weight: bold;
  color: #494d59;
  text-align: center;
  text-shadow: 0 1px rgba(152, 19, 19, 0.81);
  background: #1f1b1b;
  border: 1px solid;
  border-color: #020202 #000000 #000000;
  border-radius: 2px;
  cursor: pointer;
  background-image: -webkit-linear-gradient(top, #020202, #c30000);
  background-image: -moz-linear-gradient(top, #fefefe, #eeeeee);
  background-image: -o-linear-gradient(top, #fefefe, #eeeeee);
  /* background-image: linear-gradient(to bottom, #0043ff, #eeeeee); */
  -webkit-box-shadow: inset 0 -1px rgba(0, 0, 0, 0.03), 0 1px rgba(0, 0, 0, 0.04);
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.03), 0 1px rgba(0, 0, 0, 0.04);
}
.register-button:active {
  background: #eee;
  border-color: #c3c3c3 #d1d1d1 #d8d8d8;
  background-image: -webkit-linear-gradient(top, #eeeeee, #fcfcfc);
  background-image: -moz-linear-gradient(top, #eeeeee, #fcfcfc);
  background-image: -o-linear-gradient(top, #eeeeee, #fcfcfc);
  background-image: linear-gradient(to bottom, #eeeeee, #fcfcfc);
  -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.03);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.03);
}
.register-button:focus {
  outline: 0;
}

.register-switch {
  height: 32px;
  margin-bottom: 15px;
  padding: 4px;
  background: #6db244;
  border-radius: 2px;
  background-image: -webkit-linear-gradient(top, #60a83a, #7dbe52);
  background-image: -moz-linear-gradient(top, #60a83a, #7dbe52);
  background-image: -o-linear-gradient(top, #60a83a, #7dbe52);
  background-image: linear-gradient(to bottom, #60a83a, #7dbe52);
  -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 1px 0 rgba(0, 0, 0, 0.02), inset -1px 0 rgba(0, 0, 0, 0.02);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 1px 0 rgba(0, 0, 0, 0.02), inset -1px 0 rgba(0, 0, 0, 0.02);
}

.register-switch-input {
  display: none;
}

.register-switch-label {
  float: left;
  width: 50%;
  line-height: 32px;
  color: white;
  text-align: center;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.register-switch-input:checked + .register-switch-label {
  font-weight: 500;
  color: #434248;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  background: white;
  border-radius: 2px;
  background-image: -webkit-linear-gradient(top, #fefefe, #eeeeee);
  background-image: -moz-linear-gradient(top, #fefefe, #eeeeee);
  background-image: -o-linear-gradient(top, #fefefe, #eeeeee);
  background-image: linear-gradient(to bottom, #fefefe, #eeeeee);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.1);
}

:-moz-placeholder {
  color: #aaa;
  font-weight: 300;
}

::-moz-placeholder {
  color: #aaa;
  font-weight: 300;
  opacity: 1;
}

::-webkit-input-placeholder {
  color: #aaa;
  font-weight: 300;
}

:-ms-input-placeholder {
  color: #aaa;
  font-weight: 300;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.rating {
  display: inline-block;
  width: 100%;
  margin-top: 40px;
  padding-top: 40px;
  text-align: center;
}

.like,
.dislike {
  display: inline-block;
  cursor: pointer;
  margin: 10px;
}

.dislike:hover,
.like:hover {
  color: #2EBDD1;
  transition: all .2s ease-in-out;
  transform: scale(1.1);
}