<!DOCTYPE html>
<html>
<head>
	<title>StageR</title>
	<link href='https://fonts.googleapis.com/css?family=Roboto:300italic,400italic,400,100,300,600,700' rel='stylesheet' type='text/css'>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
	<link rel="stylesheet" href="static/css/log.css">
	<meta charset='utf-8'>
	<link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
   <link rel="icon" href="static/img/favicon.ico" type="image/x-icon">
</head>
<body>
	<div class="success message">
	  <h2>February 20 2018</h2>
		<p>🚄<strong> Faster, real-time performance. </strong>We've revamped the functionality of the app so users and stats are updated in real time! No more annoying page refreshes! This has been synced with both public and admin views. Thanks for using StageR!</p>
	</div>
	<div class="information message">
  		<h2>August 31 2017</h2>
		<p>🎼<strong> Featured performance. </strong>One lucky user from a previous session will be selected to have their performance featured for everyone to hear. Check it out. It just might be you!</p>
	</div>
	<div class="warning message">
	  <h2>August 27 2017</h2>
		<p>🎂<strong> StageR has gone public!! </strong>To encourage higher statistics and more visibility, we've released the webapp to the public. Cheers!</p>
		<p>📺<strong> Public and private view. </strong> There are now public views for everyone and private views for organizers. More control over the pages means more flexibility! Enjoy!</p>
	</div>
	<div class="announcement message">
	  <h2>August 18 2017</h2>
		<p>😆<strong> Say hello to our newest major implementation, the like system. </strong>You can now like and dislike singers in the queue. These stats are instantly saved and can be reloaded if the same person goes again!</p>
		<p>🔥<strong> Updated statistics. </strong> In lieu with the like system, the statistics page now features a most liked and most disliked singer from the whole queue!</p>
	</div>
	<div class="success message">
	  <h2>July 21 2017</h2>
		<p>🚀<strong> Fixed the glow effect. </strong>The glow effect would still happen even if no one was in the queue. That's been fixed!</p>
		<p>📊<strong> Statistics. </strong>You can now see how many times someone has sung compared to everyone else!</p>
	</div>
	<div class="information message">
  		<h2>July 7 2017</h2>
		<p>✒️<strong> Redesigned images. </strong>We've eliminated the hassle of choosing male or female and instead replaced it with a random animal image!</p>
		<p>🎨<strong> New color scheme. </strong>Some new colors here and there to make the site better looking. Now your name has a glow effect! Lit!</p>
	</div>
	<div class="announcement message">
	  <h2>July 3 2017</h2>
	<p>✨<strong> Custom cursor. </strong>Thought it would be nice to have a little more customization. Also comes with a little click animation. Enjoy!</p>
	</div>
	<div class="information message">
  		<h2>July 2 2017</h2>
		<p><i class="em em-scissors"></i><strong> The queue is now editable. </strong>Accidentally signed up? Misspelled a name? This small update implements the ability to edit the queue so you can rename or delete names in the queue!</p>
	</div>
	<div class="success message">
	  <h2>July 1 2017</h2>
		<p><i class="em em-heavy_check_mark"></i><strong> Fixed the automatic popup. </strong>Remember when you added people, it would automatically pop up again every time you refreshed the page? It's been fixed now. Additionally, the redirects have been fixed to go to the main index page.</p>
		<p><i class="em em-recycle"></i><strong> Automatic refresh capability. </strong>When multiple people are using the queue, it can cause some desync to occur. Now (only when someone is in queue) the page will auto-refresh about every 20 seconds. Hopefully this is enough time to enter names as well.</p>
		<p><i class="em em-seedling"></i><strong> Customization improvments. </strong>Just some small customization done. Some cute little music notes will appear in the "Now singing" panel!</p>
	</div>
	<div class="information message">
  		<h2>June 30 2017</h2>
		<p><strong>📑 Copy the queue. </strong>Thanks to clipboard.JS, it's now possible to copy the current queue in one click! </p>
		<p><strong>📌 Notification badge. </strong>Because I thought it would be pretty useless to have this show as a button, it has now been redesigned to appear as a notification badge. So now the number of singers will appear at the top! Much cleaner.</p>
	</div>
	<div class="information message">
  		<h2>June 28 2017</h2>
		<p><i class="em em-pencil2"></i><strong> Reset singer history function. </strong>Before this, every time someone went through the queue, they were stuck in the performance history permanently. Now the history can be cleared with each new event!</p>
		<p><i class="em em-arrow_double_up"></i><strong> Scrollable queue. </strong>When you added more people to the queue, the queue box would just keep getting bigger and bigger. Now it's set to a fixed size and you can now scroll through the queue. Complete with a customized scroll bar!</p>
	</div>
	<!-- <div class="announcement message">
	  <h2>Announcement</h2>
	<p>This is an 'announcement message' div! It is loud and proud to say things that you want people to hear first!</p>
	</div> -->
	<!-- <div class="success message">
	  <h2>Success</h2>
	<p>This is a 'success message' div. It is shown if a goal is reached or something is accomplished.</p>
	</div> -->
	<!-- <div class="warning message">
	  <h2>Warning</h2>
		<p>This is a 'warning message' div. It warns the users that to expect some changes or limitations.</p>
	</div> -->
	<!-- <div class="error message">
  		<h2>Error</h2>
		<p>This is an 'error message' div. It stresses that there is an immediate problem. this should be used sparingly.</p>
	</div> -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
</body>
</html>
