<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>

	<div class="wrapper">
  <div class="wrapper_container">
  <!-- start content -->
    <div class="site-wrapper active" id="target">
      <div class="site-wrapper_left-col">
        <a rel="nofollow" rel="noreferrer" class="logo">StageR</a>
        <div class="left-nav">
          <a rel="nofollow" rel="noreferrer"href="#" class="active" id="singers"><i class="fa fa-microphone"></i>Singers</a>
          <a rel="nofollow" rel="noreferrer"href="#signup"><i class="fa fa-plus"></i>Add a new singer</a>
        </div>
      </div>
      <div class="site-wrapper_top-bar">
        <a rel="nofollow" rel="noreferrer" id="toggle"><i class="fa fa-bars"></i></a>
      </div>
      <!-- inner content -->
      <div class="row">
        <div class="col-1">
          <div class="user-item">
            <div class="user-item_info">
              <h1>The person up next is...</h1>
            </div>
            <div class="user-item_info">
              {% block mySinger %}
              <p class="name" id="currentSinger"></p>
              {% endblock %}
              <div class="controls">
              	<a rel="nofollow" rel="noreferrer"href="{{url_for('nextSinger')}}" id="next" class="tooltipA"><i class="fa fa-hand-paper-o"></i>
					<span class="tooltiptext">Next</span>
              	</a>
              </div>
              <div class="controls">
              	<a rel="nofollow" rel="noreferrer"href="#" id="skip" class="tooltipB"><i class="fa fa-eraser"></i>
					<span class="tooltiptext">Skip</span>
              	</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2">
            <div class="chat">
              <div class="head">
                <i class="fa fa-bell"></i>
                Queue
              </div>
              <div class="chat_inner">
                {% for u in users %}
                  {% if 'M' in u[0] %}
                    <div class="chat_inner-item">
                  <div class="photo">
                    <img src="static/img/boyusericon.png" alt="myphoto" />
                  </div>
                  <div class="message">
                    {{ u[1] }}
                  </div>
                </div>
                  {% elif 'F' in u[0] %}
                    <div class="chat_inner-item">
                  <div class="photo">
                    <img src="static/img/girlusericon.png" alt="myphoto" />
                  </div>
                  <div class="message">
                    {{ u[1] }}
                  </div>
                </div>
                  {% endif %}
                {% endfor %}
              </div>
              <div class="footer">
              <a href="{{url_for('startQueue')}}"><button><i class="fa fa-paper-plane"></i> Start the Queue!</button></a>
              </div>
            </div>
          </div>
      </div>
      <!-- end inner content -->
    </div>
    <div id="signup" class="modalbg">
  <div class="dialog">
    <a rel="nofollow" rel="noreferrer" href="#close" title="Close" class="close">X</a>
    <form class="register" action="" method="post">
    <div class="register-switch">
      <input type="radio" name="sex" value="F" id="sex_f" class="register-switch-input" checked>
      <label for="sex_f" class="register-switch-label">Female</label>
      <input type="radio" name="sex" value="M" id="sex_m" class="register-switch-input">
      <label for="sex_m" class="register-switch-label">Male</label>
    </div>
    <input type="name" class="register-input" placeholder="Name/Discord Tag" name="discordtag">
    <input type="submit" value="Add New Name" class="register-button">
  </form>
  </div>
</div>
  <!-- end content -->
  </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="static/js/as.js"></script>
</html>