<!DOCTYPE html>
<html>
  <head>
	 <title>StageR</title>
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	 <link rel="stylesheet" type="text/css" href="static/css/style.css">
   <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
   <link rel="icon" href="static/img/favicon.ico" type="image/x-icon">
   <meta charset='utf-8'>
   {% if first %}
    <meta http-equiv="refresh" content="15">
   {% endif %}
  </head>
  <body>
	   <div class="wrapper">
      <div class="wrapper_container">
        <!-- start content -->
        <div class="site-wrapper active" id="target">
          <div class="site-wrapper_left-col">
            <a rel="nofollow" rel="noreferrer" class="logo" href="{{url_for('index')}}">StageR</a>
            <div class="left-nav">
              <a rel="nofollow" rel="noreferrer"href="#" class="active" id="singers"><i class="fa fa-microphone"></i>Singers</a>
              <a rel="nofollow" rel="noreferrer"href="#signup"><i class="fa fa-plus"></i>Add a new singer</a>
              <a rel="nofollow" rel="noreferrer"href="{{url_for('resetHistory')}}" id="resetSingers"><i class="fa fa-refresh"></i>Reset singer history</a>
            </div>
          </div>
          <div class="site-wrapper_top-bar">
            <a rel="nofollow" rel="noreferrer" id="toggle"><i class="fa fa-bars"></i></a>
          </div>
          <!-- inner content -->
          <div class="row">
            <div class="col-1">
              <div class="user-item">
                <div class="user-item_info">
                  <h1>The person up next is...</h1>
                </div>
              <div class="user-item_info">
                {% if first%}
                  {% if 'M' in first[0] %}
                    <img src="static/img/boyusericon.png" />
                  {% elif 'F' in first[0] %}
                    <img src="static/img/girlusericon.png" />
                  {% endif %}
                  <p class="name" id="currentSinger">{{first[1]}}</p>
                  {% if first[2] == 0 %}
                    <p class="sub">This person has not sang before.</p>
                  {% elif first[2] == 1 %}
                    <p class="sub">This person has sang once.</p>
                  {% else %}
                    <p class="sub">This person has sang {{first[2]}} times.</p>
                  {% endif %}
                  <div class="controls">
                    <a rel="nofollow" rel="noreferrer"href="{{url_for('nextSinger')}}" id="next" class="tooltipA"><i class="fa fa-hand-paper-o"></i>
                      <span class="tooltiptext">Next</span>
                    </a>
                  </div>
                  <div class="controls">
                    <a rel="nofollow" rel="noreferrer"href="{{url_for('skipSinger')}}" id="skip" class="tooltipB"><i class="fa fa-eraser"></i>
                      <span class="tooltiptext">Skip</span>
                    </a>
                  </div>
                {% else %}
                  <p class="name" id="currentSinger">No one! Add someone first. :)</p>
                {% endif %}
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="chat">
            <div class="head">
              <i class="fa fa-bell"></i>
                Queue
                {% if users|length > 0 %}
              <span class="details">{{ users|length }} TOTAL</span>
                {% endif %}
            </div>
                {% if users|length > 4 %}
                  <div class="chat_inner_scroll">
                {% else %}
                  <div class="chat_inner">
                {% endif %}
                {% for u in users %}
                  {% if 'M' in u[0] %}
                    <div class="chat_inner-item">
                      <div class="photo">
                        <img src="static/img/boyusericon.png" />
                      </div>
                      <div class="message">
                        {{ u[1] }} 
                      </div>
                    </div>
                  {% elif 'F' in u[0] %}
                    <div class="chat_inner-item">
                      <div class="photo">
                        <img src="static/img/girlusericon.png" />
                      </div>
                      <div class="message">
                        {{ u[1] }} 
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}
                </div>
                <div class="footer">
              {% if users|length == 1 %}
                <!-- <a href="#" id="queueButton"><button><i class="fa fa-music"></i> 1 person waiting!</button></a> -->
                <button id="btn-copier" data-clipboard-target="Current queue: {% for u in users %}{{ u[1] }} {% endfor %}"><i class="fa fa-files-o"></i> Copy queue</button>
              {% elif users|length > 1 %}
                <!-- <a href="#" id="queueButton"><button><i class="fa fa-music"></i> {{ users|length }} people waiting!</button></a> -->
                <button id="btn-copier" data-clipboard-text="Current queue: {% for u in users %}{{ u[1] }} {% endfor %}"><i class="fa fa-files-o"></i> Copy queue</button>
              {% endif %}
                </div>
              </div>
        </div>
      </div>
    <!-- end inner content -->
        </div>
          <div id="signup" class="modalbg">
            <div class="dialog">
              <a rel="nofollow" rel="noreferrer" href="#close" title="Close" class="close">X</a>
              <form class="register" action="{{url_for('index')}}" method="post">
                <div class="register-switch">
                  <input type="radio" name="sex" value="F" id="sex_f" class="register-switch-input" checked>
                  <label for="sex_f" class="register-switch-label">Female</label>
                  <input type="radio" name="sex" value="M" id="sex_m" class="register-switch-input">
                  <label for="sex_m" class="register-switch-label">Male</label>
                </div>
                <input type="name" class="register-input" placeholder="Name/Discord Tag" name="discordtag">
                <input type="submit" value="Add New Name" class="register-button">
              </form>
            </div>
          </div>
  <!-- end content -->
   </div>
  </div>
</body>
<script src="static/js/clipboard.min.js"></script>
<script type="text/javascript">
  new Clipboard('#btn-copier');
</script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="static/js/as.js"></script>
</html>
