<!DOCTYPE html>
<html>
  <head>
	 <title>StageR</title>
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	 <link rel="stylesheet" type="text/css" href="static/css/style.css">
   <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
   <link rel="icon" href="static/img/favicon.ico" type="image/x-icon">
   <meta charset='utf-8'>
   <!-- as long as someone is in the queue, the page will automatically refresh -->
   {% if first %}
     <meta http-equiv="refresh" content="15"> 
   {% endif %}
  </head>
  <body>
	   <div class="wrapper">
      <div class="wrapper_container">
        <!-- start content -->
        <div class="site-wrapper active" id="target">
          <div class="site-wrapper_left-col">
            <a rel="nofollow" rel="noreferrer" class="logo" href="{{url_for('index')}}">StageR</a>
            <div class="left-nav">
              <!-- Main links -->
              <a rel="nofollow" rel="noreferrer"href="#" class="active" id="singers"><i class="fa fa-microphone"></i>Singers</a>
              <a rel="nofollow" rel="noreferrer"href="#signup"><i class="fa fa-plus"></i>Add singer</a>
              <a rel="nofollow" rel="noreferrer"href="{{url_for('resetHistory')}}" id="resetSingers"><i class="fa fa-refresh"></i>Reset history</a>
              <a rel="nofollow" rel="noreferrer"href="{{url_for('log')}}" id="chlog"><i class="fa fa-paint-brush"></i>Changelog</a>
              <a rel="nofollow" rel="noreferrer"href="{{url_for('stats')}}"><i class="fa fa-bar-chart"></i>Statistics</a>
              <a rel="nofollow" rel="noreferrer"href="{{url_for('index')}}"><i class="fa fa-terminal"></i>Public View</a>
            </div>
          </div>
          <div class="site-wrapper_top-bar">
            <a rel="nofollow" href="{{url_for('featured')}}" class="feature" style="width: auto;"><i class="fa fa-heart"></i> Featured Performance!</a>
            <a rel="nofollow" rel="noreferrer" id="toggle"><i class="fa fa-bars"></i></a>
          </div>
          <!-- inner content -->
          <div class="row">
            <div class="col-1">
              <div class="user-item">
                <div class="user-item_info">
                  <h1>The person up next is...</h1>
                </div>
              <div class="user-item_info">
                {% if first%}
                    <img src="static/img/{{first[0]}}" />
                  <p class="name glowing" id="currentSinger">🎵 {{first[1]}} 🎵 </p>
                  {% if first[2] == 0 %}
                    <p class="sub">This person has not sang before.</p>
                  {% elif first[2] == 1 %}
                    <p class="sub">This person has sang once.</p>
                  {% else %}
                    <p class="sub">This person has sang {{first[2]}} times.</p>
                  {% endif %}
                  <div id="demo">
                  <a href="{{url_for('avvotelike')}}"><button class="btn like btn-danger"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> <span class="likes">{{first[3]}}</span></button></a>
                  <a href="{{url_for('avvotedislike')}}"><button class="btn dislike btn-warning active"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> <span class="dislikes">{{first[4]}}</span></button></a>
                  </div>
                  <div class="controls">
                    <a rel="nofollow" rel="noreferrer"href="{{url_for('nextSinger')}}" id="next" class="tooltipA"><i class="fa fa-hand-paper-o"></i>
                      <span class="tooltiptext">Next</span>
                    </a>
                  </div>
                  <div class="controls">
                    <a rel="nofollow" rel="noreferrer"href="{{url_for('skipSinger')}}" id="skip" class="tooltipB"><i class="fa fa-eraser"></i>
                      <span class="tooltiptext">Skip</span>
                    </a>
                  </div>
                {% else %}
                  <p class="name" id="currentSinger">No one! Add someone first. :)</p>
                {% endif %}
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="chat">
            <div class="head">
              <i class="fa fa-bell"></i>
                Queue
                {% if users|length > 0 %}
              <span class="details">{{ users|length }} TOTAL</span>
                {% endif %}
            </div>
                {% if users|length > 4 %}
                  <div class="chat_inner_scroll">
                {% else %}
                  <div class="chat_inner" id="checkscroll">
                {% endif %}
                {% for u in users %}
                    <div class="chat_inner-item">
                      <div class="photo">
                        <img src="static/img/{{u[0]}}" />
                      </div>
                      <div class="message">
                        {{ u[1] }} 
                      </div>
                    </div>
                {% endfor %}
                </div>
                <div class="footer">
                <!-- Footer buttons only appear if queue is occupied. -->
              {% if users|length > 0 %}
                <a href="{{url_for('delete')}}"><button><i class="fa fa-ban"></i> Delete</button></a>
                <a href="{{url_for('rename')}}"><button><i class="fa fa-pencil"></i> Rename</button></a>
                <button id="btn-copier" data-clipboard-text="Current queue: {% for u in users %}{{ u[1] }} {% endfor %}"><i class="fa fa-files-o"></i> Copy queue</button>
              {% endif %}
                </div>
              </div>
        </div>
      </div>
    <!-- end inner content -->
        </div>
        <!-- Code for the modal -->
          <div id="signup" class="modalbg">
            <div class="dialog">
              <a rel="nofollow" rel="noreferrer" href="#close" title="Close" class="close">X</a>
              <form class="register" action="{{url_for('adminview')}}" method="post">
                <input type="name" class="register-input" placeholder="Name/Discord Tag" name="discordtag">
                <input type="submit" value="Add New Name" class="register-button">
              </form>
            </div>
          </div>
  <!-- end content -->
   </div>
  </div>
</body>
<script src="static/js/clipboard.min.js"></script>
<script type="text/javascript">
  new Clipboard('#btn-copier');
</script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="static/js/like-dislike.js"></script>
<script src="static/js/as.js"></script>
<!-- This needs to be put in an external file. -->
<script type="text/javascript">
var anchors = document.querySelectorAll('body')

Array.prototype.forEach.call(anchors, function(anchor) {
  anchor.addEventListener('click', explode)
})

function explode(e) {
    [].map.call(anchors, function(el) {
           el.classList.toggle('active');
     });
  var x = e.clientX
  var y = e.clientY
  var c = document.createElement('canvas')
  var ctx = c.getContext('2d')
  var ratio = window.devicePixelRatio
  var particles = []
  
  document.body.appendChild(c)
  
  c.style.position = 'absolute'
  c.style.left = (x - 50) + 'px'
  c.style.top = (y - 50) + 'px'
  c.style.pointerEvents = 'none'
  c.style.width = 100 + 'px'
  c.style.height = 100 + 'px'
  c.width = 100 * ratio
  c.height = 100 * ratio
  
  function Particle() {
    return {
      x: c.width / 2,
      y: c.height / 2,
      radius: 10,
      color: 'rgb(' + [r(100,255), r(100,255), r(100,255)].join(',') + ')',
      rotation: r(0,360, true),
      speed:4,
      friction: 0.9,
      opacity: r(0,0.5, true),
      yVel: 0,
      gravity: 0
    }
  }
  
  for(var i=0; ++i<15;) {
    particles.push(Particle())
  }
  
  
  
  function render() {
    ctx.clearRect(0, 0, c.width, c.height)
    
    particles.forEach(function(p, i) {
      
      angleTools.moveOnAngle(p, p.speed)
      
      p.opacity -= 0.01
      p.speed *= p.friction
      p.radius *= p.friction
      
      p.yVel += p.gravity
      p.y += p.yVel
      
      if(p.opacity < 0) return
      if(p.radius < 0) return
      
      ctx.beginPath()
      ctx.globalAlpha = p.opacity
      ctx.fillStyle = p.color
      ctx.arc(p.x, p.y, p.radius, 0, 2 * Math.PI, false)
      ctx.fill()
    })
  }
  
  ;(function renderLoop(){
    requestAnimationFrame(renderLoop)
    render()
  })()
  
  setTimeout(function() {
    document.body.removeChild(c)
  }, 3000)
}

var angleTools={getAngle:function(t,n){var a=n.x-t.x,e=n.y-t.y;return Math.atan2(e,a)/Math.PI*180},getDistance:function(t,n){var a=t.x-n.x,e=t.y-n.y;return Math.sqrt(a*a+e*e)},moveOnAngle:function(t,n){var a=this.getOneFrameDistance(t,n);t.x+=a.x,t.y+=a.y},getOneFrameDistance:function(t,n){return{x:n*Math.cos(t.rotation*Math.PI/180),y:n*Math.sin(t.rotation*Math.PI/180)}}};
function r(a,b,c){ return parseFloat((Math.random()*((a?a:1)-(b?b:0))+(b?b:0)).toFixed(c?c:0)); }
  </script>
</html>
