<!DOCTYPE html>
<html>
<head>
	<title>StageR</title>
	<link rel="stylesheet" href="static/css/stats.css">
</head>
<body>
<h2>Most Frequent Singers</h2>
	<ul class="bar-graph"> 
	{% for s in stats %}
	<li>
	 <p>{{s[0]}}</p>
	 <div class="bar-wrap"><span class="bar-fill" style="width: {{s[1]}}%;"><b>{{s[1]}}%</b></span></div>
	</li>
	{% endfor %}
</ul>
<h2>Most Liked Singer: <span style="color: green">{{ msliked }}</span> </h2>
<h2>Most Disliked Singer: <span style="color: red">{{ msdsliked }}</span> </h2>
</body>
</html>